/*
 * Globals
 */
font-family: 'Source Sans Pro', sans-serif, 'Bebas Neue', cursive,'Open Sans', sans-serif,'Lato';
font-family: 'Source Serif Pro', serif;'Varela Round', sans-serif;
           

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  
}

.cover-container {
  max-width: 100em;
}

.featuredwork{
    color:#121212;
    font-size:24px;
}

.featuredwork:hover{color:#121212;text-decoration:none;background-color:transparent;}
.project-bg{
   background-image:linear-gradient(135deg, #6C66C9 0%, #F97C73 100%);
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   height:auto;
   -webkit-box-shadow: 0 8px 20px -6px #595959;
    -moz-box-shadow: 0 8px 20px -6px #595959; 
    box-shadow: 0 8px 20px -6px #959595;
   
}

.project-bg-1{
   background-image:linear-gradient(135deg, #6C66C9 0%, #F97C73 100%);
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height:auto;
   -webkit-box-shadow: 0 8px 20px -6px #595959;
    -moz-box-shadow: 0 8px 20px -6px #595959; 
    box-shadow: 0 8px 20px -6px #959595;
   
}
.project-bg-2{
background-color: #045de9;
background-image: linear-gradient(240deg, #1695F0 0%, #09c6f9 100%);   
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   height:auto;
    -webkit-box-shadow: 0 8px 20px -6px #595959;
    -moz-box-shadow: 0 8px 20px -6px #595959; 
    box-shadow: 0 8px 20px -6px #959595;
}

.project-bg-lam{
background-color: #0E558B;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   height:auto;
    -webkit-box-shadow: 0 8px 20px -6px #595959;
    -moz-box-shadow: 0 8px 20px -6px #595959; 
    box-shadow: 0 8px 20px -6px #959595;
}

.project-bg-pod{
  background-image: url(airpod-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   height:750px;
    -webkit-box-shadow: 0 8px 20px -6px #595959;
    -moz-box-shadow: 0 8px 20px -6px #595959; 
    box-shadow: 0 8px 20px -6px #959595;
}

.project-bg-3{
    background-color:#f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
}

.project-bg-5{
    background-color:#F1F8FB;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
}
.workflow{
    position:absolute;
    margin-top:200px;
    margin-left:-200px;
    z-index: 1;
    
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  max-width: 80em;
}

.dropshadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black; 
    box-shadow: 0 8px 6px -6px #d9d9d9};

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 1rem .25rem;
  margin-right: 2rem;
  margin-left: 20px;
  font-size:18px;
  font-weight: 500;
  color:#121212;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}


.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
  text-decoration: none;
border-bottom: 3px solid #ad2102;

}

a.logo  {color: #121212;}

a.logo:hover, a.logo:focus {color: #121212;}

#logo{margin-top:-8px;}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.passcode{
    color:#fff;
    font-size:12px;
}

.dark-shadow{
    width:454px; 
    height:300px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
    }

.style{
    max-width: 55em;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 200%;
}
.profile{
    width: 50%;
    height: auto;
}
.lam{
    height: auto;
    width: auto;
    
}
.greeting{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    text-align: center;
}
    #style{
    font-size: 28px;
}
    .projecttitle{
        max-width: 60em;
        line-height: 200%;
    }
    
    .project-description{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 32px;
        color:#121212;
    }

.project-description1{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 32px;
        color:#fff;
    }
 
   .project-description2{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 32px;
        color:#000;
    }
    
.project-tag{
       font-family: 'Varela Round', sans-serif;
        font-size: 14px;
        color:#ffffff;
    
}
    .title{
        color: #ffffff;
        font-family: 'Taviraj', serif;
        font-size:48px;
    }
    
   .title2{
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size:56px;
        text-align: center;
    }
.subtitle{
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
}

.subtitle1{
        font-family: 'Bebas Neue', cursive;
        font-size: 64px;
}

.content{
    
        line-height: 180%;
        color: #606060;
}

.projectlink{
    font-family:'Taviraj', serif; 
    font-size: 24px;
    color:#1890FF;
    text-decoration: none;
}

.projectlink:hover{
    text-decoration: none;
    color:1E68F6;
}

.arrow{
    margin-left: 8px;
    margin-right:8px;
}
.dot{
    width:auto;
    height: auto;
    
}

.pod{
    height: 70%;
    width: auto;
    
}
.action{
        color: #ffffff;
        font-family: 'Taviraj', serif;
    
};

a.casebutton{
       color:#fbfbfb;
       text-decoration: none;
       font-size: 18px;
};

.casebutton:hover{color:#fff};
.casebutton:focus{color:#fff};

    .fa-envelope {
  width: 48px;
  height:48px;

 
}
.fa-dribbble {
  width: 48px;
  height: 48px;
}
.fa-github {
  width:48px;
  height:48px;
}
.fa-linkedin {
  width: 48px;
  height: 48px;
}

#arrow {
    font-size: 16px;
};

 .fa-github:hover{color:#121212;}
.fa-linkedin:hover{color:#2D9CDB;}
.fa-envelope:hover{color:#121212;}
.fa-dribbble:hover{color:#eb2f96;}

.iconpack{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
    .icons{
        float: left;
        font-size: 24px;
    }
.icon{
    display: block;
    color: #595959;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}    
       
    }
/*
    
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.socialicons{
    color: #FFFFFF;
    text-decoration: none;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
